.item h3 {
    margin: 1rem 0;
    font-size: 1.3rem;
  }
  
  .item header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .price {
    padding: 0.2rem 1.5rem;
    font-size: 1.5rem;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    
  }
  
  .actions button {
    margin-top: 1rem;
    background-color: #09473f;
    padding: 0.5rem 2rem;
    margin-left: 1rem;
    color: #fff;
  }

  .actions button:hover{
    opacity: 0.8;
  }
  